@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');



::-webkit-scrollbar {
    width: 8px;
    background: #023c40ff;

    
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #023c40ff;
    
}
::-webkit-scrollbar-button {
    background: none;
    height: 8px;
    width: 8px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #d0565dff;
    /* radial background from center */
    background: radial-gradient(#8d4347ff 0%, #ae4e53ff 25%, #d0565dff 75%, #da7a83ff 100%);
    border-radius: 6px;
    
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #da7a83ff;
    
}
html {
  font-family: system-ui, sans-serif;
 
  scrollbar-gutter: stable;

}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

body {

  overflow-y: scroll;
}

.non-selectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-drag: none;
}

.selectable {
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Old versions of Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}